h1 {
  color: white;
  background-color: grey;
  text-align: center;
}

body {
  background-image: url("http://i.imgur.com/UnkE4GZ.jpg");
}

img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

 #page-wrapper {
   text-align: center;
 }

 .first {
   background-color: white;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    color: black;
 }
 .second {
   background-color: white;
    float: right;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    color: pink;
 }
 .third {
   background-color: white;
   width: 320px;
   padding: 10px;
   border: 5px solid gray;
   margin: 0;
   color: black;
 }
 .fourth {
   background-color: white;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    color: pink;
